body {
  font-family: Lato;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #102746;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* header styles statrt */

.wrapper {
  max-width: 66.25rem;
  margin: 0 auto;
}
.header {
  /* background-color: black; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 56px;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
}
.header__item {
  margin-right: 82px;
  list-style-type: none;
}
.header__item:last-child {
  margin-right: 0;
}
.header__link {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: white;
}
.header__link:hover,
.header__link:focus,
.header__link:active {
  opacity: 0.78;
}
/* header styles end */

/* intron styles statrt */
.intro {
  min-height: 100vh;
  background: url(./img/intro-bg.jpg) no-repeat center;
  background-size: cover;
  padding-top: 263px;
}
.intro__title {
  max-width: 619px;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  border-bottom: 22px;
  color: #fff;
}
.intro__subtitle {
  max-width: 546px;
  color: #fff;
  border-bottom: 59px;
}
.search__form-field {
  width: 297px;
  background: transparent url('./img/svg/oval.svg') no-repeat left 2px;
  border: 0;
  border-bottom: 2px solid #bfc0c5;
  margin-right: 60px;
  color: #fff;
  padding-left: 43px;
  padding-bottom: 22px;
}
.search__form-field::placeholder {
  color: #fff;
}
.form__submit {
  padding: 15px 40px;
  text-transform: uppercase;
  background: #1b7dff;
}
.form__submit:hover,
.form__submit:active,
.form__submit:focus {
  background: #0750b1;
}

/* intron styles end */
/* benefits styles start */
.benefits_wrap {
  /* max-width: 78.875rem; */
  max-width: 1262px;
  background-color: white;
  margin: 0 auto;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  position: relative;
}
.benefits__title {
  width: 100%;
  padding: 93px 100px 88px 100px;
  margin: 0;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background-color: white;
}
.benefits__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 55px;
}
/* benefits styles end */
