body {
  font-family: Lato;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #102746;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

/* header styles statrt */

.section__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  position: relative;
  padding-bottom: 10px;
}
.section__title::after {
  display: block;
  content: '';
  width: 253px;
  height: 3px;
  background: #006dfe;
  position: absolute;
  bottom: 0;
  left: 0;
}

.wrapper {
  max-width: 66.25rem;
  margin: 0 auto;
}
.wrapper-full {
  max-width: 1262px;
  margin: 0 auto;
}
.header {
  /* background-color: black; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 56px;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
}
.header__item {
  margin-right: 82px;
  list-style-type: none;
}
.header__item:last-child {
  margin-right: 0;
}
.header__link {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: white;
}
.header__link:hover,
.header__link:focus,
.header__link:active {
  opacity: 0.78;
}
/* header styles end */

/* intron styles statrt */
.intro {
  min-height: 100vh;
  background: url(./img/intro-bg.jpg) no-repeat center 83.23%;
  background-size: cover;
  padding-top: 263px;
  padding-bottom: 223px;
}
.intro__title {
  max-width: 619px;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  border-bottom: 22px;
  color: #fff;
}
.intro__subtitle {
  max-width: 546px;
  color: #fff;
  border-bottom: 59px;
}
.search__form-field {
  width: 297px;
  background: transparent url('./img/svg/oval.svg') no-repeat left 2px;
  border: 0;
  border-bottom: 2px solid #bfc0c5;
  margin-right: 60px;
  color: #fff;
  padding-left: 43px;
  padding-bottom: 22px;
}
.search__form-field::placeholder {
  color: #fff;
}
.form__submit {
  padding: 15px 40px;
  text-transform: uppercase;
  background: #1b7dff;
  font-weight: 500;
  font-size: 24px;
  color: white;
  border: 0;
}
.form__submit:hover,
.form__submit:active,
.form__submit:focus {
  background: #0750b1;
}
/* intron styles end */

/* benefits styles start */
.benefits {
  padding-bottom: 131px;
}

.benefits_wrap {
  max-width: 1262px;
  background-color: white;
  margin: 0 auto;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  position: relative;
}
.benefits__title {
  width: 100%;
  padding: 93px 100px 88px 100px;
  margin: 0;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background-color: white;
}
.benefits__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 55px;
  padding: 0 100px;
}
.benefits__card {
  grid-column: span 1;
  margin-bottom: 112px;
}
.benefits__card-pic {
  /* max-width: 66px; */
  max-width: 317px;
  margin-bottom: 37px;
}
.benefits__card-thumb {
  padding-bottom: 37px;
  display: block;
}
.benefits__card-title {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 26px;
}
.benefits__card-desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 39px;
}
.benefits__card-more {
  display: inline-block;
  padding-right: 59px;
  font-size: 16px;
  line-height: 24px;
  color: #006dfe;
  text-decoration: none;
  background: transparent url('./img/svg/arrow-right-ico.svg') no-repeat 95%
    center;
  transition: 0.2s ease;
}
.benefits__card-more:hover,
.benefits__card-more:focus {
  background: transparent url('./img/svg/arrow-right-ico.svg') no-repeat right;
}
/* benefits styles end */
/* Places styles start */

.places{
  margin-bottom: 131px;
}

.places__catipon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}
.places__title {
  margin-right: 15px;
}
.places__vies-all {
  position: relative;
  text-decoration: none;
  color: #006dfe;
  font-size: 16px;
  line-height: 24px;
  padding-right: 59px;
  background: transparent url('./img/svg/arrow-right-ico.svg') no-repeat right
    center;
}
.places__vies-all:focus,
.places__vies-all:hover {
  opacity: 0.6;
}
figure {
  margin: 0;
  line-height: 0
}
.places__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}

.places__card_size_lg {
  grid-column: span 3;
}

.places__card_size_sm {
  grid-column: span 2;
}
.places__card-pic {
  width: 100%;
  transition: .15s all;
}
.places__card {
  position: relative;
}
.places__card:hover .places__card-pic {
  transform: scale(1.01);
}
.places__card::after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(21, 24, 36, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.places__card-title {
  font-size: 50px;
  line-height: 60px;
  color: white;
  position: absolute;
  bottom: 27px;
  left: 29px;
  z-index: 3;
}
.places__card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
.places__card-pic_size-lg {
  height: 354px;
  object-fit: cover;
}
.places__card-pic_size-sm {
  height: 283px;
  object-fit: cover;
}
/* Places styles end */
